/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 16, 2014, 10:11:34 PM
    Author     : VietAnh
*/

/*TYPOGRAPHY*/
.center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

/*HEADER*/
[data-id="header"] img {
    height: 100%;
    width: auto;
    padding: 0.5em;
}

/*INTRO*/
[data-id="intro"] {
    z-index: -100;
}

[data-id="intro-video"] {
    width: 100%;
    height: auto;
}