/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 16, 2014, 10:11:34 PM
    Author     : VietAnh
*/

/*TYPOGRAPHY*/
.center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.text-lg {
    font-size: 2em;
}

.weight-sm {
    font-weight: 300;
}

.border-bottom {
    border-bottom: 1px solid #ddd;
}

.padding-bot-md {
    padding-bottom: 5px;
}

.footer-02 {
    font-size: 1em;
    padding-top: 10px;
}

hr {
    width: 86%;
    margin-left: auto;
    margin-right: auto;
}

/*HEADER*/
[data-id="header"] img {
    height: 100%;
    width: auto;
    padding: 0.5em;
}

/*INTRO*/
[data-id="intro"] {
    z-index: 10;
    position: relative;
    top: 0;
    margin-top: 20px;
}

[data-id="intro"] img {
    width: 100%;
    /*height: auto;*/
    height: 100%;
}

hr {
    margin: 0 auto;
}

.btn-submit {
    text-shadow: none;
    border-radius: 5px;
    text-align: center;
    padding: 0px 1em;
    display: block;
    width: 100%;
    font-size: 1.2em;
}

.btn-submit:hover, .btn-submit:active, .btn-submit:focus {
    text-decoration: none;
}

[data-id="intro-video"] {
    width: 100%;
    height: auto;
}

[data-id="social-btn"] {
    margin-top: -20px;
    position: relative;
    z-index: 100;
}

[data-id="social-btn"] a {
    border-radius: 0;
    font-weight: 300;
    padding: 0 1em;
    text-transform: uppercase;
}

[data-id="fb-btn"] {
    margin-top: 6px;
}

[data-id="form-submit"], [data-id="form-login"] {
    margin-top: 20px;
}

[data-id="form-submit"] a {
    font-weight: 300;
    font-size: 1.5em;
    text-shadow: none;
    height: auto;
}

.input-vgroup {
    padding: 0 60px;
}

.input-vgroup div:first-child {
    margin-bottom: 0;
    border-radius: 5px 5px 0 0;
    border-bottom: 0;
}

.input-vgroup div:last-child {
    margin-top: 0;
    border-radius: 0 0 5px 5px;
}

.input-vgroup .ui-shadow-inset {
    box-shadow: none;
}

.sign-up {
    font-size: 1em !important;
    padding-left: 15px;
}

.sign-up:hover {
    text-decoration: none;
}

[data-id="form-submit"] {
    position: fixed;
    width: 100%;
    padding-bottom: 10px;
}

.ui-input-text {
	margin: 0 0 !important;
}

.control-input {
	margin: .5em 0;
}

.dialog {
	z-index: 101;
}