/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 23, 2014, 1:14:10 PM
    Author     : VietAnh
*/

hr {
    margin: 0 auto;
    width: 85%;
}

[data-id="header"] img {
    height: 100%;
    width: auto;
    padding: 0.5em;
}

[data-id="intro"] {
    margin-top: -1em;
}

[data-id="intro"] img {
    width: 100%;
    height: auto;
}

[data-id="form-login"] {
    width: 80%;
    margin: 0 auto;
    margin-top: 1em;
    position: relative;
    z-index: 100;
}

[data-id="form-login"] .input-vgroup > div {
    border-radius: 0;
    margin: 0;
}

.input-vgroup .ui-shadow-inset {
    box-shadow: none;
}

.input-vgroup input {
    padding: 0 1em;
    line-height: 1em;
}

.btn-submit {
    text-shadow: none;
    border-radius: 5px;
    text-align: center;
    padding: 0 1em;
    display: block;
    width: 100%;
    font-size: 1.2em;
}

.back-wrapper {
    text-align: center;
    font-size: 1em;
    
}

.back-btn {
    font-weight: 300 !important;
}

.btn-submit:hover {
    text-decoration: none;
}