/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 21, 2014, 12:25:12 PM
    Author     : VietAnh
*/
@font-face {
    font-family: segoe;
    src: url(../fonts/segoe.ttf);
}

.font-segoe {
    font-family: segoe;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.bold {
    font-weight: bold;
}

.padding-sm {
    padding: 5px;
}

.padding-md {
    padding: 12px;
}

.pointer {
    cursor: pointer;
}

.block {
    display: block;
}

.close-btn {
    text-align: right;
    padding: 1em;
}

.close-btn a {
    font-weight: bold;
    font-size: 2em;
    color: #fff !important;
    text-decoration: none !important;
}

.close-btn a:hover, .close-btn a:active, .close-btn a:focus {
    color: #fff !important;
    text-decoration: none !important;
}

[data-id="logo"] img {
    height: 100%;
    width: auto;
    display: block;
}

[data-id="main"] {
    clear: both;
}

[data-id="avatar"] img {
    width: auto;
    padding: 3em 0;
}

[data-id="timer"] {
    font-size: 2.5em;
}

[data-id="end-call"] img, [data-id="footer-1st"] img, [data-id="footer-2nd"] img {
    height: 100%;
    width: auto;
}

#dial-pad {
    transform: translateY(0px);
    padding: 10px;
    width: 100% !important;
}

[data-value] {
    width: 33%;
    cursor: pointer;
}

[data-value] img {
    height: auto;
    width: 100%;
}

.dial-row div {
    display: inline-block;
    width: 32%;
    padding:7px;
}

[data-value="1"], [data-value="4"], [data-value="7"], [data-value="*"] {
    padding: 0 0 0 14px !important;
}

[data-value="3"], [data-value="6"], [data-value="9"], [data-value="#"] {
    padding: 0 0 0 14px !important;
}

#body {
    /*    transform: translateY(-200px);
        -moz-transform: translateY(-200px);
        -webkit-transform: translateY(-200px);*/
}

[data-id="header"] {
    width: 100%;
}

#loading {
    position: absolute;
}

@-webkit-keyframes opacity {
	0% { color: grey; }
	100% { color: #FF6A00; }
}
@-moz-keyframes opacity {
	0% { color: grey; }
	100% { color: #FF6A00; }
}

#loading span {
	-webkit-animation-name: opacity;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	
	-moz-animation-name: opacity;
	-moz-animation-duration: 1s;
	-moz-animation-iteration-count: infinite;
}

#loading span:nth-child(2) {
	-webkit-animation-delay: 100ms;
	-moz-animation-delay: 100ms;
}

#loading span:nth-child(3) {
	-webkit-animation-delay: 300ms;
	-moz-animation-delay: 300ms;
}

#loading span:nth-child(4) {
	-webkit-animation-delay: 500ms;
	-moz-animation-delay: 500ms;
}

#loading span:nth-child(5) {
	-webkit-animation-delay: 700ms;
	-moz-animation-delay: 700ms;
}